.place__title{
   grid-area: title;
   font-family: 'Inter','Arial', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   margin-top: 0;
   margin-bottom: 0;
   align-self: end;
}
@media (max-width:720px){
   .place__title{
      font-size: 32px;
      line-height: 35px;
      align-self: flex-start;
      margin-left: 16px;
   }
}