.footer__link{
   color: #FFF;
   text-decoration: none;
}
.footer__link:hover{
   cursor: pointer;
}
.footer__link:last-of-type{
   margin-right: 0;
}
@media (min-width: 320px){
   .footer__link{
      margin-bottom: 32px;
   }
}