.footer__links{
   margin-right: 18px;
   font-family: 'Inter','Arial', sans-serif;
   font-weight: 400;
   line-height: 18px;
   font-style: normal;
   font-size: 16px;
}
@media (max-width:500px){
   .footer__links{
      margin-bottom: 32px;
      margin-left: 16px;
      line-height: 24px;
      font-size: 24px;
   }
}