.footer__copyrigt{
   margin-top: 0;
   margin-bottom: 0;
   font-family: 'Inter','Arial', sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   font-size: 14px;
}
@media (max-width:500px){
   .footer__copyrigt{
      line-height: 14px;
      margin-left: 16px;
   }
}
@media (min-width: 320px){
   .footer__copyright{
      margin-left: 16px;
   }
}