.footer__row{
   list-style-type: none;
   display: flex;
   flex-direction: row;
   padding-left: 0;
}
@media (max-width:500px){
   .footer__row{
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 0;
   }
}