.place__heading{
   color: #AAA;
   line-height: 46px;
   font-family: 'Inter','Arial', sans-serif;
   font-style: normal;
   margin-top: 0;
   margin-bottom: 0;
   text-transform: uppercase;
   letter-spacing: 2px;
}