.cover__title{
   max-width: 560px;
   font-family: 'Inter';
   font-weight: 900;
   font-style:  normal;
   font-size: 72px;
   line-height: 76px;
   text-align: center;
   margin-top: 0;
   margin-bottom: 32px;
   position: relative;
}